.card {
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 700px;
    background-color: #ffffff;
}

.card-title {
    font-size: 50px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 500;
    color: #555;
}

.form-control {
    width: 500px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

/* .button {
    display: flex;
    justify-content: flex-end;
} */

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
