/* ========================
   DETAIL PAGE MAIN LAYOUT
   ======================== */

.detail-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

.back-btn {
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    display: inline-block;
}

.detail-card {
    display: flex;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.detail-left img {
    width: 280px;
}

.detail-right {
    margin: 30px 30px;
}

.price {
    color: #e53e3e;
    font-size: 22px;
}

.qty-box {
    margin: 15px 0;
}

.qty-btn {
    border: none;
    background: white;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-btn {
    background: #e53e3e;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    border: none;
}


/* ========================
       DESCRIPTION BOX
   ======================== */

.description-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}


/* ========================
      OTHER PRODUCTS GRID
   ======================== */

.other-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.other-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.other-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.other-card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
}

.other-card h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.price-small {
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}

.btn-other {
    display: inline-block;
    background: #d9534f;
    color: white;
    padding: 7px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-other:hover {
    background: #c9302c;
}
